USE [master]
GO
/****** Object:  Database [eeeeee]    Script Date: 2020/7/29 0:00:41 ******/
CREATE DATABASE [eeeeee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OneCartoon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\eeeeee_data.mdf' , SIZE = 8192KB , MAXSIZE = 20480KB , FILEGROWTH = 2048KB )
 LOG ON 
( NAME = N'OneCartoon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\eeeeee_log.ldf' , SIZE = 2048KB , MAXSIZE = 10240KB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eeeeee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eeeeee]
GO
USE [eeeeee]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 2020/7/29 0:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 2020/7/29 0:00:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](11) NOT NULL,
	[Pwd] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subway]    Script Date: 2020/7/29 0:00:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subway](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Entrance] [nvarchar](50) NULL,
	[Exitof] [nvarchar](50) NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[Time] [datetime] NOT NULL,
	[CardNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Top_up]    Script Date: 2020/7/29 0:00:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Top_up](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TopupTime] [datetime] NOT NULL,
	[TopupMoney] [decimal](10, 2) NULL,
	[CardNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2020/7/29 0:00:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[CardNumber] [nvarchar](20) NOT NULL,
	[UserName] [nvarchar](10) NOT NULL,
	[UserGender] [nvarchar](2) NOT NULL,
	[UserAge] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([ID], [Location]) VALUES (4, N'长春观战')
INSERT [dbo].[Location] ([ID], [Location]) VALUES (1, N'光谷站')
INSERT [dbo].[Location] ([ID], [Location]) VALUES (9, N'汉口火车站')
SET IDENTITY_INSERT [dbo].[Location] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Location__E55D3B10E429456F]    Script Date: 2020/7/29 0:00:42 ******/
ALTER TABLE [dbo].[Location] ADD UNIQUE NONCLUSTERED 
(
	[Location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Subway]  WITH CHECK ADD  CONSTRAINT [FK__Subway__CardNumb__2D27B809] FOREIGN KEY([CardNumber])
REFERENCES [dbo].[UserInfo] ([CardNumber])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subway] CHECK CONSTRAINT [FK__Subway__CardNumb__2D27B809]
GO
ALTER TABLE [dbo].[Top_up]  WITH CHECK ADD  CONSTRAINT [FK__Top_up__CardNumb__25869641] FOREIGN KEY([CardNumber])
REFERENCES [dbo].[UserInfo] ([CardNumber])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Top_up] CHECK CONSTRAINT [FK__Top_up__CardNumb__25869641]
GO
USE [master]
GO
